/* styles.css */

body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    margin: 0;
}

header {
    background-color: #3498db; /* Warna biru cerah */
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
    font-size: 2em;
}

#learn-more button {
    background-color: #2ecc71; /* Warna hijau cerah */
    color: #fff;
    font-size: 18px;
    padding: 16px 24px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#learn-more button:hover {
    background-color: #27ae60; /* Warna hijau yang lebih gelap saat hover */
}

#features {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

#features h2 {
    color: #3498db; /* Warna biru cerah */
}

#features ul {
    color: #555;
}

#contact {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

#contact h2 {
    color: #3498db; /* Warna biru cerah */
}

#contact label {
    display: block;
    margin-bottom: 8px;
}

#contact input,
#contact button {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#contact button {
    background-color: #e74c3c; /* Warna merah cerah */
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#contact button:hover {
    background-color: #c0392b; /* Warna merah yang lebih gelap saat hover */
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}
